# CIA World Factbook Project

Analyze population statistics related to different countries

### Load the CIA database

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

Query the database to see which tables are available

In [3]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

As we can see, there are only two tables available in the database, facts, and sqlite_sequence

In [6]:
%%sql
SELECT *
  FROM facts
 LIMIT 5;

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

The SQL commands must be always precededed by the %%sql command.

### Find out which are the extreme cases of population and population growth

In [7]:
%%sql
SELECT MIN(population), MAX(population), MIN(population_growth), MAX(population_growth)
    FROM facts;

Done.

[(0, 7256490011, 0.0, 4.02)]

Now we proceed to find out which are the specific countries with these population values.

In [8]:
%%sql
SELECT name, population
    FROM facts
 WHERE (population == (SELECT MAX(population)
                         FROM facts) OR
        population == (SELECT MIN(population)
                          FROM facts)
       );

Done.

[('Antarctica', 0), ('World', 7256490011)]

We see that there was a row for the Total World population and another one for Antartida. These are no Countries, so we will exclude them

In [10]:
%%sql
SELECT MAX(population), MIN(population), MAX(population_growth), MIN(population_growth)
    FROM (SELECT name, population, population_growth
              FROM facts
           WHERE name NOT IN (SELECT name
                                  FROM facts
                               WHERE (population == 
                                      (SELECT MAX(population)
                                           FROM facts) OR 
                                      population == 
                                      (SELECT MIN(population)
                                           FROM facts)
                                     )
                             )
         );

Done.

[(1367485388, 48, 4.02, 0.0)]

Now, we do the same procedure and employ it to test which are the countries with population and area over the average. We use the previous query as a template.

In [11]:
%%sql
SELECT name, population, area
              FROM facts
           WHERE (name NOT IN (SELECT name
                                  FROM facts
                               WHERE (population == 
                                      (SELECT MAX(population)
                                           FROM facts
                                      ) OR population == 
                                      (SELECT MIN(population)
                                           FROM facts
                                      )
                                     )
                              )
                 ) 
           AND (population > (SELECT AVG(population)
                                  FROM facts
                               WHERE (name NOT IN (SELECT name
                                                       FROM facts
                                                    WHERE (population == 
                                                          (SELECT MAX(population)
                                                               FROM facts
                                                          ) OR population == 
                                                          (SELECT MIN(population)
                                                               FROM facts
                                                          )
                                                          )
                                                  )
                                     )
                             )
                               
               )
            AND (area < (SELECT AVG(area)
                                  FROM facts
                               WHERE (name NOT IN (SELECT name
                                                       FROM facts
                                                    WHERE (population == 
                                                          (SELECT MAX(population)
                                                               FROM facts
                                                          ) OR population == 
                                                          (SELECT MIN(population)
                                                               FROM facts
                                                          )
                                                          )
                                                  )
                                     )
                             )
                               
               )

Done.

[('Bangladesh', 168957745, 148460),
 ('Germany', 80854408, 357022),
 ('Iraq', 37056169, 438317),
 ('Italy', 61855120, 301340),
 ('Japan', 126919659, 377915),
 ('Korea, South', 49115196, 99720),
 ('Morocco', 33322699, 446550),
 ('Philippines', 100998376, 300000),
 ('Poland', 38562189, 312685),
 ('Spain', 48146134, 505370),
 ('Thailand', 67976405, 513120),
 ('Uganda', 37101745, 241038),
 ('United Kingdom', 64088222, 243610),
 ('Vietnam', 94348835, 331210)]

### Questions to answer
* What country has the most people? 
* What country has the highest growth rate?
* Which countries have the highest ratios of water to land? 
* Which countries have more water than land?
* Which countries will add the most people to their population next year?
* Which countries have a higher death rate than birth rate?
* What countries have the highest population/area ratio and how does it compare to list we found in the previous screen?

Now let's figure out which are the most populated and the fastest growing countries,

In [15]:
%%sql
SELECT name, population, population_growth
              FROM facts
           WHERE (name NOT IN (SELECT name
                                  FROM facts
                               WHERE (population == 
                                      (SELECT MAX(population)
                                           FROM facts
                                      ) OR population == 
                                      (SELECT MIN(population)
                                           FROM facts
                                      )
                                     )
                              )
                 ) 
           AND ((population == (SELECT MAX(population)
                                   FROM facts
                                WHERE (name NOT IN (SELECT name
                                                        FROM facts
                                                     WHERE (population == 
                                                           (SELECT MAX(population)
                                                                FROM facts
                                                           ) OR population == 
                                                           (SELECT MIN(population)
                                                                FROM facts
                                                           )
                                                           )
                                                   )
                                      )
                              )
                               
                )
            OR (population_growth == (SELECT MAX(population_growth)
                                          FROM facts
                                      WHERE (name NOT IN (SELECT name
                                                       FROM facts
                                                    WHERE (population == 
                                                          (SELECT MAX(population)
                                                               FROM facts
                                                          ) OR population == 
                                                          (SELECT MIN(population)
                                                               FROM facts
                                                          )
                                                          )
                                                  )
                                     )
                             )
                               
                )
               )

Done.

[('China', 1367485388, 0.45), ('South Sudan', 12042910, 4.02)]

Not surprising, China is the highest populated country in the world. South Sudan is the fastest growing one.

Now we study the countries wih highest ratio of water to land, and which have more water than land.

In [35]:
%%sql
SELECT name, (CAST(area_water AS Float)/area_land) AS water_land_ratio
    FROM facts
WHERE (name NOT IN (SELECT name
                        FROM facts
                     WHERE (population == 
                            (SELECT MAX(population)
                                 FROM facts
                            ) OR population == 
                            (SELECT MIN(population)
                                 FROM facts
                            )
                           )
                   ) AND
       (CAST(area_water AS Float)/area_land > 0.5
       )
      )
 ORDER BY (CAST(area_water AS Float)/area_land) DESC;

Done.

[('British Indian Ocean Territory', 905.6666666666666),
 ('Virgin Islands', 4.520231213872832),
 ('Puerto Rico', 0.5547914317925592)]

Apparently, only Virgin Islands, British Indian Ocean Territory and Puerto Rico have more water area than land area. The country with highest ratio by far is British Indian Ocean Territory with a whoping 900%.

Now we take a look at the country with the largest population growth next year in total population.

In [41]:
%%sql
SELECT name, (population * population_growth/100) AS population_increase
    FROM facts
WHERE (name NOT IN (SELECT name
                        FROM facts
                     WHERE (population == 
                            (SELECT MAX(population)
                                 FROM facts
                            ) OR population == 
                            (SELECT MIN(population)
                                 FROM facts
                            )
                           )
                   ) AND
       ((population * population_growth/100) == 
        (SELECT MAX(population * population_growth/100)
             FROM facts
          WHERE (name NOT IN 
                 (SELECT name
                      FROM facts
                   WHERE (population == 
                          (SELECT MAX(population)
                               FROM facts
                          ) OR population == 
                          (SELECT MIN(population)
                                 FROM facts
                            )
                           )
                   )
                )
        )
       )
      )

Done.

[('India', 15270686.1248)]

Surprise surprise! The country which will grow the most next year is India. That was rather obvious

Now let's answer which countries have higher death rate than birth rate.

In [44]:
%%sql
SELECT name, (death_rate/birth_rate) AS death_to_birth_rate
    FROM facts
WHERE (name NOT IN (SELECT name
                        FROM facts
                     WHERE (population == 
                            (SELECT MAX(population)
                                 FROM facts
                            ) OR population == 
                            (SELECT MIN(population)
                                 FROM facts
                            )
                           )
                   ) AND
       (death_rate/birth_rate > 1
       )
      )
 ORDER BY (death_rate/birth_rate) DESC;

Done.

[('Bulgaria', 1.6188340807174888),
 ('Serbia', 1.5044052863436124),
 ('Latvia', 1.431),
 ('Lithuania', 1.4128712871287128),
 ('Hungary', 1.3897379912663756),
 ('Monaco', 1.3894736842105262),
 ('Slovenia', 1.350356294536817),
 ('Ukraine', 1.3488805970149254),
 ('Germany', 1.3482880755608027),
 ('Saint Pierre and Miquelon', 1.3099730458221026),
 ('Romania', 1.3019693654266957),
 ('Croatia', 1.288888888888889),
 ('Greece', 1.2806004618937643),
 ('Belarus', 1.2485981308411216),
 ('Japan', 1.1992433795712485),
 ('Portugal', 1.1887810140237325),
 ('Russia', 1.1801724137931033),
 ('Estonia', 1.1798287345385348),
 ('Italy', 1.165903890160183),
 ('Bosnia and Herzegovina', 1.0992108229988726),
 ('Czech Republic', 1.0737279335410175),
 ('Moldova', 1.0491666666666666),
 ('Poland', 1.0462012320328542),
 ('Austria', 1.0010626992561105)]

OK, it seems that what is often called  East Europe have a big difference between the death and birth rate. Other western countries like Germany, Greece and Italy are also in the list. Surprisingly Japan is not very high in the top, I expected it to be very high due to its very old population.

Finally, we investigate the densest populated countries

In [45]:
%%sql
SELECT name, (population/area) AS population_area
    FROM facts
WHERE (name NOT IN (SELECT name
                        FROM facts
                     WHERE (population == 
                            (SELECT MAX(population)
                                 FROM facts
                            ) OR population == 
                            (SELECT MIN(population)
                                 FROM facts
                            )
                           )
                   )
      )
 ORDER BY (population/area) DESC;

Done.

[('Macau', 21168),
 ('Monaco', 15267),
 ('Singapore', 8141),
 ('Hong Kong', 6445),
 ('Gaza Strip', 5191),
 ('Gibraltar', 4876),
 ('Bahrain', 1771),
 ('Maldives', 1319),
 ('Malta', 1310),
 ('Bermuda', 1299),
 ('Sint Maarten', 1167),
 ('Bangladesh', 1138),
 ('Guernsey', 847),
 ('Jersey', 838),
 ('Barbados', 675),
 ('Mauritius', 656),
 ('Taiwan', 650),
 ('Aruba', 623),
 ('Lebanon', 594),
 ('Saint Martin', 588),
 ('San Marino', 541),
 ('Korea, South', 492),
 ('Rwanda', 480),
 ('West Bank', 475),
 ('Nauru', 454),
 ('Tuvalu', 418),
 ('Netherlands', 407),
 ('Marshall Islands', 398),
 ('Israel', 387),
 ('Burundi', 385),
 ('India', 380),
 ('Belgium', 370),
 ('Haiti', 364),
 ('Comoros', 349),
 ('Philippines', 336),
 ('Sri Lanka', 336),
 ('Japan', 335),
 ('Curacao', 334),
 ('Grenada', 321),
 ('Guam', 297),
 ('El Salvador', 291),
 ('Vietnam', 284),
 ('American Samoa', 273),
 ('Jamaica', 268),
 ('Saint Lucia', 266),
 ('Saint Vincent and the Grenadines', 263),
 ('United Kingdom', 263),
 ('Puerto Rico', 260),
 ('Pakistan', 250),
 ('Trinidad and Tobago', 238),
 ('Liechtenstein', 235),
 ('Germany', 226),
 ('British Virgin Islands', 221),
 ('Luxembourg', 220),
 ('Dominican Republic', 215),
 ('Nepal', 214),
 ('Cayman Islands', 212),
 ('Antigua and Barbuda', 209),
 ('Korea, North', 207),
 ('Italy', 205),
 ('Seychelles', 203),
 ('Sao Tome and Principe', 201),
 ('Saint Kitts and Nevis', 198),
 ('Nigeria', 196),
 ('Switzerland', 196),
 ('Qatar', 189),
 ('Andorra', 182),
 ('Anguilla', 180),
 ('Gambia, The', 174),
 ('Kosovo', 171),
 ('Kuwait', 156),
 ('Uganda', 153),
 ('Isle of Man', 153),
 ('Malawi', 151),
 ('Micronesia, Federated States of', 149),
 ('China', 142),
 ('Tonga', 142),
 ('Guatemala', 137),
 ('Cabo Verde', 135),
 ('Czech Republic', 134),
 ('Indonesia', 134),
 ('Thailand', 132),
 ('Togo', 132),
 ('Kiribati', 130),
 ('Denmark', 129),
 ('Cyprus', 128),
 ('Akrotiri', 127),
 ('Poland', 123),
 ('Dhekelia', 120),
 ('European Union', 118),
 ('Portugal', 117),
 ('Azerbaijan', 112),
 ('Northern Mariana Islands', 112),
 ('Slovakia', 111),
 ('Tokelau', 111),
 ('Ghana', 110),
 ('Wallis and Futuna', 109),
 ('Hungary', 106),
 ('Albania', 105),
 ('Moldova', 104),
 ('Austria', 103),
 ('France', 103),
 ('Armenia', 102),
 ('Turkey', 101),
 ('Cuba', 99),
 ('Dominica', 98),
 ('Slovenia', 97),
 ('Spain', 95),
 ('Costa Rica', 94),
 ('Benin', 92),
 ('Malaysia', 92),
 ('Serbia', 92),
 ('Syria', 92),
 ('Ethiopia', 90),
 ('Jordan', 90),
 ('Romania', 90),
 ('Egypt', 88),
 ('Cambodia', 86),
 ('Iraq', 84),
 ('Burma', 83),
 ('Swaziland', 82),
 ('Timor-Leste', 82),
 ('Greece', 81),
 ('Macedonia', 81),
 ('Sierra Leone', 81),
 ('Kenya', 79),
 ('Croatia', 78),
 ('Honduras', 78),
 ('Bosnia and Herzegovina', 75),
 ('Brunei', 74),
 ('Morocco', 74),
 ('Ukraine', 73),
 ("Cote d'Ivoire", 72),
 ('Senegal', 71),
 ('Georgia', 70),
 ('Burkina Faso', 69),
 ('Ireland', 69),
 ('Samoa', 69),
 ('United Arab Emirates', 69),
 ('Tunisia', 67),
 ('French Polynesia', 67),
 ('Uzbekistan', 65),
 ('Bulgaria', 64),
 ('Lesotho', 64),
 ('Mexico', 61),
 ('Norfolk Island', 61),
 ('Tajikistan', 56),
 ('Ecuador', 55),
 ('Eritrea', 55),
 ('Virgin Islands', 54),
 ('Tanzania', 53),
 ('Turks and Caicos Islands', 53),
 ('Montserrat', 51),
 ('Yemen', 50),
 ('Afghanistan', 49),
 ('Cameroon', 49),
 ('Fiji', 49),
 ('Iran', 49),
 ('Panama', 48),
 ('Guinea', 47),
 ('Guinea-Bissau', 47),
 ('Belarus', 46),
 ('Montenegro', 46),
 ('Palau', 46),
 ('Nicaragua', 45),
 ('Lithuania', 44),
 ('South Africa', 44),
 ('Cocos (Keeling) Islands', 42),
 ('Colombia', 41),
 ('Cook Islands', 41),
 ('Madagascar', 40),
 ('Liberia', 37),
 ('Zimbabwe', 36),
 ('Faroe Islands', 36),
 ('Djibouti', 35),
 ('Congo, Democratic Republic of the', 33),
 ('United States', 32),
 ('Venezuela', 32),
 ('Mozambique', 31),
 ('Latvia', 30),
 ('Laos', 29),
 ('Kyrgyzstan', 28),
 ('Estonia', 27),
 ('Equatorial Guinea', 26),
 ('Saint Helena, Ascension, and Tristan da Cunha', 25),
 ('Bahamas, The', 23),
 ('Brazil', 23),
 ('Chile', 23),
 ('Peru', 23),
 ('Saint Pierre and Miquelon', 23),
 ('Vanuatu', 22),
 ('Solomon Islands', 21),
 ('Sweden', 21),
 ('Zambia', 20),
 ('Bhutan', 19),
 ('Sudan', 19),
 ('South Sudan', 18),
 ('Uruguay', 18),
 ('Algeria', 16),
 ('Finland', 16),
 ('New Zealand', 16),
 ('Norway', 16),
 ('Paraguay', 16),
 ('Somalia', 16),
 ('Angola', 15),
 ('Argentina', 15),
 ('Belize', 15),
 ('Papua New Guinea', 14),
 ('New Caledonia', 14),
 ('Congo, Republic of the', 13),
 ('Mali', 13),
 ('Saudi Arabia', 12),
 ('Christmas Island', 11),
 ('Oman', 10),
 ('Turkmenistan', 10),
 ('Bolivia', 9),
 ('Central African Republic', 8),
 ('Russia', 8),
 ('Gabon', 6),
 ('Kazakhstan', 6),
 ('Niue', 4),
 ('Botswana', 3),
 ('Canada', 3),
 ('Guyana', 3),
 ('Iceland', 3),
 ('Libya', 3),
 ('Mauritania', 3),
 ('Suriname', 3),
 ('Australia', 2),
 ('Namibia', 2),
 ('Western Sahara', 2),
 ('Mongolia', 1),
 ('Pitcairn Islands', 1),
 ('Greenland', 0),
 ('Svalbard', 0),
 ('Falkland Islands (Islas Malvinas)', 0),
 ('Chad', None),
 ('Niger', None),
 ('Holy See (Vatican City)', None),
 ('Ashmore and Cartier Islands', None),
 ('Coral Sea Islands', None),
 ('Heard Island and McDonald Islands', None),
 ('Clipperton Island', None),
 ('French Southern and Antarctic Lands', None),
 ('Saint Barthelemy', None),
 ('Bouvet Island', None),
 ('Jan Mayen', None),
 ('British Indian Ocean Territory', None),
 ('South Georgia and South Sandwich Islands', None),
 ('Navassa Island', None),
 ('Wake Island', None),
 ('United States Pacific Island Wildlife Refuges', None),
 ('Paracel Islands', None),
 ('Spratly Islands', None),
 ('Arctic Ocean', None),
 ('Atlantic Ocean', None),
 ('Indian Ocean', None),
 ('Pacific Ocean', None),
 ('Southern Ocean', None)]

Here we see that the densest populated countries are islands, or city states. That is logical. These results do not agree well with the results from last page query, since many of these states ha